<div class="sign-up-form">
     <h3>Already signed up? Log in here!</h3>
     <form ng-submit="login()" class="user">
        <input class="inputs" placeholder="Username" ng-model="loginForm.username" autocomplete="on">
        <input class="inputs" placeholder="Password" type="password" ng-model="loginForm.password">
        <input class="main-button button" type="submit" value="LOG IN">
     </form>
     <h3 class="error-message">{{errMessage}}</h3>
     <h3>New user? Sign-up here!</h3>
     <form ng-submit="signup()" class="user">
          <input class="inputs" placeholder="Username" ng-model="signupForm.username">
          <input class="inputs" placeholder="Email" ng-model="signupForm.email">
          <input class="inputs" placeholder="Password" type="password" ng-model="signupForm.password">
          <input class="main-button button" type="submit" value="SIGN UP">
     </form>
     <h3 class="error-message">{{signupError}}</h3>
</div>
