/* Main Page */
/* Main Container */
body {
  background: url("https://images.unsplash.com/uploads/14114036359651bd991f1/b3ed8fdf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f522d9aa3c2ff08ee35e06b019e9baa7") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(107, 212, 89, 0.60);
  color: #3E6A85;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

/* Navigation */
.navbar {
  border: none;
  background-color: #6BD459;
  background-image: none;
  color: #A32B1F;
}

#li-font a {
  color: #A32B1F;
}

#li-font a:hover {
   color: #3E6A85;
}

/* Home.html */
.game-description {
   max-width: 650px;
   font-size: 22px;
   margin: 30px;
   background-color: #ffffff;
   border: 1px solid black;
   opacity: 0.4;
   filter: alpha(opacity=60);
   margin: auto;
   margin-top: 35px;
   text-align: center;
   color: black;
   padding: 5px;
   border-radius: 10px;
}

.text-center {
   margin-top: 35px;
}

/* Challenge.html */
.score {
   margin-top: 75px;
   margin-bottom: 30px;
}

/* Buttons for home and challenge pages */
.button {
   background: #6bd459;
   border: 1px solid green;
   color: #A32B1F;
   font-size: 14px;
   padding: 15px;
}

.button a {
   color: #A32B1F;
}

a:hover {
   color: #3E6A85;
   background-color: #6bd459;
   text-decoration: none;
}
